<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Top pane spans width of the screen; left and right panels below -->
    <!-- Left panel will have a Login area, then an Authenticator area, and finally an option to create an account -->
    <!-- Right panel will have an image carousel -->
</body>
</html>