<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs Directory</title>
    <!-- <link rel="stylesheet" href="normalize.css"> -->
    <link rel="stylesheet" href="css/songs/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0b75e0e2be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <form action="">
            <input type="file" id="inputFileUpload">
            <button type="button" id="btnFileUpload">Upload Lyrics</button>
        </form>
    </header>
    <main>
        <section id="display">
            <section id="primary">
                <select class="selectSong" id="selectPrimary">
                    <option value="">Choose song from database...</option>
                </select>
                <section class="songDisplay" name="songPrimary">
                    <section class="songHeader"></section>
                    <section class="songLyrics"></section>
                </section>
            </section>
            <section id="alternate">
                <select class="selectSong" id="selectAlternate">
                    <option value="">Choose alternate version...</option>
                </select>
                <section class="songDisplay" id="songAlternate">
                    <section class="songHeader"></section>
                    <section class="songLyrics"></section>
                </section>
            </section>
            <button type="button" id="btnEditSong">Edit Lyrics</button>
        </section>
        <section class="hidden" id="editor">
            <form action="" id="editSong">
                <section id="editHeader">
                    <div id="divTitle"><label for="editTitle">Title: </label><input type="text" id="editTitle"></div>
                    <div id="divAuthors"><label for="editAuthors">Authors: </label><input type="text" id="editAuthors"></div>
                    <p id="copyCCLI"><span id="copyCCLINum"></span>, <span id="copyCCLILic"></span></p>
                    <div id="divCopyright"><label for="editCopyright">Copyright: </label><input type="text" id="editCopyright"></div>
                </section>
                <section id="editLyrics"></section>
            </form>
            <button type="reset" form="editSong" id="btnDiscard">Discard Changes</button>
            <button type="button" form="editSong" id="btnCreate">Create Version</button>
            <button class="hidden" type="button" form="editSong" id="btnUpdate">Update Version</button>
        </section>
    </main>
    <script type="text/javascript" src="js/songs.js"></script>
</body>
</html>