<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs Directory</title>
    <!-- <link rel="stylesheet" href="normalize.css"> -->
    <link rel="stylesheet" href="css/songs/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0b75e0e2be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <form id="songSubmitter" action="">
            <input type="file" name="songfile" id="songfile">
            <button class="submit" type="button" name="submit">Upload Lyrics</button>
        </form>
    </header>
    <main>
        <section class="songDisplay">
            <section class="primarySongDisplay">
                <select name="songSelect" id="songSelect">
                    <option value="">Choose song from database...</option>
                </select>
                <section class="showLyrics">
                    <section class="songHeader"></section>
                    <section class="songLyrics"></section>
                </section>
            </section>
            <section class="altSongDisplay">
                <select name="altSelect" id="altSelect">
                    <option value="">Choose alternate version...</option>
                </select>
                <section class="showLyrics">
                    <section class="songHeader"></section>
                    <section class="songLyrics"></section>
                </section>
            </section>
            <button class="editSongLyrics" type="button" name="editSongLyrics" form="editLyrics">Edit Lyrics</button>
        </section>
        <section class="editor hidden">
            <form action="" id="editLyrics">
                <section class="songHeader">
                    <label for="editTitle">Title: </label><input class="editTitle" type="text" id="editTitle">
                    <label for="editAuthors">Authors: </label><input class="editAuthors" type="text" id="editAuthors">
                    <p class="copyCcli"><span class="copyCclinum"></span>, <span class="copyCclilic"></span></p>
                    <label for="editCopyright">Copyright: </label><input class="editCopyright" type="text" id="editCopyright">
                </section>
                <section class="editVerses"></section>
            </form>
            <button class="discardChanges" type="reset" form="editLyrics" name="discardChanges">Discard Changes</button>
            <button class="createVersion" type="button" form="editLyrics" name="createVersion">Create Version</button>
            <button class="updateVersion hidden" type="button" form="editLyrics" name="updateVersion">Update Version</button>
        </section>
    </main>
    <script type="text/javascript" src="js/songs.js"></script>
</body>
</html>