/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.hidden {
    display: none;
    visibility: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    margin: 1% 1% 0 1%;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 1% 1% 0 1%;
}

.songDisplay {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.editor {
    flex-basis: 50%;
}

#songSelector {
    margin: 1% 0 0 0;
}

.primarySongDisplay,
.altSongDisplay {
    display: flex;
    flex-direction: column;
}

section.showLyrics {
    margin: 1% 0 0 0;
}

section.showLyrics,
#editLyrics {
    display: flex;
    flex-direction: column;
}

h2.title {
    font-weight: bold;
}

p.authors,
p.ccli,
p.copyright {
    font-size: 0.75rem;
    font-style: italic;
}

section.songHeader,
section.verse,
section.chorus {
    margin: 0 0 2% 0;
}

section.chorus {
    font-style: italic;
}

div.firstLine {
    display: flex;
    justify-content: space-between;
}

p.firstLine {
    display: inline-block;
}

#editLyrics input,
#editLyrics p {
    display: block;
    margin: 0 0 1% 0;
    width: 100%;
}

.editVerse {
    display: flex;
    justify-content: space-around;
    gap: 1%;
    margin: 0 0 2% 0;
    border: 1px solid;
}

.editVerse_type {
    flex-basis: 20%;
    margin: 1% 0 0 0;
}

.editVerse_type > div {
    display: flex;
    flex-direction: column;
}

.editVerse_type > div > div.container {
    width: 60%;
    align-self: flex-end;
    margin: 2% 0 0 0;
}

.editVerse_lyrics {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    margin: 1% 0 0 0;
}

.editVerse_lyrics > div {
    display: flex;
    justify-content: space-between;
}

.editVerse_lyrics > div > input {
    flex-basis: 83%;
}

.editVerse_lyrics > div > div.container {
    flex-basis: 15%;
}

div.container {
    display: flex;
    justify-content: space-between;
}